<form action="/user/login" method="post">
  <input name="username" placeholder="Username" required>
  <input name="password" placeholder="Password" required>
  <button>Login</button>
</form>
<a href="/user/register">Register</a>
