# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

import { useEffect, useState } from "react";
import axios from "axios";
import Register from "./Register";
import Login from "./Login";

function App() {
  const [title, setTitle] = useState("");
  const [todos, setTodos] = useState([]);

  // Get all todos
  const getTodos = async () => {
    const res = await axios.get("http://localhost:5000/todos");
    setTodos(res.data);
  };

  useEffect(() => {
    getTodos();
  }, []);

  // Add todo
  const addTodo = async () => {
    await axios.post("http://localhost:5000/todos", { title });
    setTitle("");
    getTodos();
  };

  // Delete
  const deleteTodo = async (id) => {
    await axios.delete(`http://localhost:5000/todos/${id}`);
    getTodos();
  };

  // Update (edit title)
  const updateTodo = async (id) => {
    const newTitle = prompt("Enter new title:");
    await axios.put(`http://localhost:5000/todos/${id}`, { title: newTitle });
    getTodos();
  };

  return (
  <>
  <Register/>
  <Login/>
    <div>
      <h2>Simple TODO App</h2>

      <input 
        value={title}
        onChange={(e) => setTitle(e.target.value)}
        placeholder="Enter todo"
      />
      <button onClick={addTodo}>Add</button>

      <ul>
        {todos.map((item) => (
          <li key={item._id}>
            {item.title}

            <button onClick={() => updateTodo(item._id)}>Edit</button>
            <button onClick={() => deleteTodo(item._id)}>Delete</button>
          </li>
        ))}
      </ul>
    
    </div>
    <jwt />
    </>
  
  );
}

export default App;
